NEXT_PUBLIC_BOOKING_URL=https://squareup.com/appointments/book/REPLACE_ME
NEXT_PUBLIC_GOOGLE_MAPS_EMBED_URL=
NEXT_PUBLIC_CLOUDFLARE_ANALYTICS_TOKEN=
CENTRE_AUTO_ALLARD_IMAGE=ghcr.io/nicholasxydis/centre-auto-allard:latest
